[submodule "sc-danger"]
	path = sc-danger
	url = git@gitlab.supercharge.io:misc/sc-danger.git
[submodule "android-quality-config"]
	path = android-quality-config
	url = git@gitlab.supercharge.io:code-quality/android-quality-config.git
[submodule "bluetoothRobotics"]
	path = bluetoothRobotics
	url = git@gitlab.supercharge.io:revolutionrobotics/bluetooth-android.git
[submodule "blocklyRobotics"]
	path = blocklyRobotics
	url = git@gitlab.supercharge.io:revolutionrobotics/blockly-android.git
